<h1><%= @cocktail.name %></h1>
<% @cocktail.doses.each do |dose| %>
<p>
<%= dose.description %> x
<%= dose.ingredient.name %>
</p>
<% end %>

<%= link_to '+ add a dose', new_cocktail_dose_path(@cocktail) %><br>

<%= link_to '< back to homepage', cocktails_path %>

